@model Sepa.Models.SelectInvoiceEditorViewModel
<tr>
	<td style="text-align:center">
		@Html.CheckBoxFor(model => model.Selected)
	</td>
	<td>
		@Html.DisplayFor(model => model.Posting_Desc)
	</td>
	<td>
		@Html.HiddenFor(model => model.Invoice_ID)
	</td>

	<td>
		@Html.ActionLink("Edit", "Edit", new { id = Model.Invoice_ID }) |
		@Html.ActionLink("Details", "Details", new { id = Model.Invoice_ID }) |
		@Html.ActionLink("Delete", "Delete", new { id = Model.Invoice_ID })
	</td>
</tr>
