
@model List<Sepa.Models.Invoice>

@{

	ViewBag.Title = "Index";

}

<div style="font-family:Arial">
	<h2>Invoice List</h2>



	@using (Html.BeginForm("Index", "InvoiceSearch", FormMethod.Get))
	{
		<p>

			<b>Search by:</b>
			@Html.RadioButton("Search by", "Name", true) <text>Name</text>
			@Html.RadioButton("Search by", "Status") <text>Status</text>
			<br />
			@Html.TextBox("Search")<input type="submit" value="Search" />
		</p>
	}

	<table class="table" border="0">

		@for (int i = 0; i < Model.Count; i++)

		{
		<tr>
			<td>
				@Html.Hidden("Invoices.Index", (@i))
				@Html.TextBox("Invoices[" + @i + "].Invoice_ID",
				Model[i].Invoice_ID, new {@readonly="readonly"})
			</td>

			<td>
				@Html.TextBox("Invoices[" + @i + "].Posting_Date",
				Model[i].Posting_Date)
			</td>

			<td>
				@Html.TextBox("Invoices[" + @i + "].Posting_Desc",
				Model[i].Posting_Desc)
			</td>

			<td>
				@Html.TextBox("Invoices[" + @i + "].StatusCode",
				Model[i].StatusCode)
			</td>

			<td>
				@Html.TextBox("Invoices[" + @i + "].Invoice_Value",
				Model[i].Invoice_Value)
			</td>
		</tr>
		}
		<tr>
			<td colspan="4">
				<input type="submit" value="Submit" />
			</td>
		</tr>
	</table>

</div>

