@model Sepa.Models.Vendor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendor</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Vendor_ID)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Vendor_ID)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Vendor_Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Vendor_Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vendor_Address)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vendor_Address)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vendor_Address2)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vendor_Address2)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vendor_City)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vendor_City)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vendor_Country)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vendor_Country)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vendor_Currency)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vendor_Currency)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vendor_Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vendor_Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vendor_IBAN)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vendor_IBAN)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vendor_Phone)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vendor_Phone)
		</dd>

	</dl>
</div>
<p>
    @*Html.ActionLink("Edit", "Edit", new { id = Model.Vendor_ID })*@
    @Html.ActionLink("Back to List", "Index")
</p>
